
<section id="favourites" class="favourites">
	<div class="section-header">
		<h3>Our Favourites</h3>
	</div>

	<div class="section-body">

		<div class="owl-carousel owl-theme">

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/products/01-1.jpg" alt="...">
				</div>
				<div class="text-content">
					<h5><a href="#">Women Trousers</a></h5>
					<nav class="price">
						<span>€ 79.00</span>
					</nav>
					<form class="shoplist-form">
						<input type="hidden" name="product" value="6666">
						<button class="btn" type="submit"><span class="icon-cart"></span> Add to cart</button>
					</form>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/products/02-1.jpg" alt="...">
				</div>
				<div class="text-content">
					<h5><a href="#">Winter Sweatshirt</a></h5>
					<nav class="price">
						<s>€ 79.00</s>
						<span>€ 59.00</span>
					</nav>
					<form class="shoplist-form">
						<input type="hidden" name="product" value="7777">
						<button class="btn" type="submit"><span class="icon-cart"></span> Add to cart</button>
					</form>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/products/03-1.jpg" alt="...">
				</div>
				<div class="text-content">
					<h5><a href="#">Fancy iPhone Cover</a></h5>
					<nav class="price">
						<span>€ 79.00</span>
					</nav>
					<a href="#" class="btn">More Info</a>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/products/04-1.jpg" alt="...">
				</div>
				<div class="text-content">
					<h5><a href="#">New Accessories</a></h5>
					<nav class="price">
						<span>€ 79.00</span>
					</nav>
					<a href="#" class="btn">More Info</a>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/products/05-1.jpg" alt="...">
				</div>
				<div class="text-content">
					<h5><a href="#">Adipisicing Elit</a></h5>
					<nav class="price">
						<span>€ 79.00</span>
					</nav>
					<a href="#" class="btn">More Info</a>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/products/06-1.jpg" alt="...">
				</div>
				<div class="text-content">
					<h5><a href="#">Amet Consectetur</a></h5>
					<nav class="price">
						<span>€ 79.00</span>
					</nav>
					<a href="#" class="btn">More Info</a>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/products/07-1.jpg" alt="...">
				</div>
				<div class="text-content">
					<h5><a href="#">Dolor Sit</a></h5>
					<nav class="price">
						<span>€ 79.00</span>
					</nav>
					<a href="#" class="btn">More Info</a>
				</div>
			</article>

			<article class="item">
				<div class="media-contur">
					<img class="lazyOwl" data-src="{{ site.baseurl }}/assets/img/products/08-1.jpg" alt="...">
				</div>
				<div class="text-content">
					<h5><a href="#">Lorem Ipsum</a></h5>
					<nav class="price">
						<span>€ 79.00</span>
					</nav>
					<a href="#" class="btn">More Info</a>
				</div>
			</article>

		</div>
	</div>

</section>

