
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">

					<h4>Top Categories</h4>
					<ul>
						<li><a href="#">Women</a></li>
						<li><a href="#">Men</a></li>
						<li><a href="#">Junior</a></li>
						<li><a href="#">Accessories</a></li>
					</ul>

				</div>
				<div class="col-sm-3">

					<h4>Customer Service</h4>
					<ul>
						<li><a href="#">Returns</a></li>
						<li><a href="#">Shipping</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>

				</div>
				<div class="col-sm-5 col-sm-offset-1">

					<h4>Newsletter Subscribe</h4>

					<div class="subscribe">
						<label for="email"><span class="icon-envelope-o"></span></label>
						<input type="text" id="subscribe-input" name="email" placeholder="firstname.lastname@vaimo.com">
						<input type="submit" class="btn" id="subscribe-submit">
					</div>

					<div class="subscribe-message">
						<p class="subscribe-loading"><span class="icon-spinner"></span><em>Subscribeing to newsletter...</em></p>
						<p class="subscribe-fail"><span class="icon-exclamation-triangle"></span><em>Email verification failed...</em></p>
						<p class="subscribe-success"><span class="icon-check"></span><em>Subscription successful!</em></p>
					</div>

				</div>
			</div>
		</div>
	</footer>

