
<header class="header">

	<div class="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<nav class="nav-l10n">
						<a href="#" class="btn">English <span class="icon-caret-down"></a>
						<ul>
							<li class="active"><a href="#">English</a></li>
							<li><a href="#">Swedish</a></li>
							<li><a href="#">Ukrainian</a></li>
						</ul>
					</nav>

					<nav class="social">
						<a class="btn" href="https://twitter.com/ihororlovskyi" target="_blank"><span class="icon-twitter"></span></a>
						<a class="btn" href="https://www.facebook.com/profile.php?id=1617270694" target="_blank"><span class="icon-facebook"></span></a>
						<a class="btn" href="https://www.linkedin.com/in/ihororlovskyi" target="_blank"><span class="icon-linkedin"></span></a>
					</nav>

				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-3 text-right">

				<div class="hero">
					<h1>Demostore</h1>
					<p>nifty brand slogan goes here</p>
				</div>

			</div>
			<div class="col-sm-9 text-right">

			<form class="search">
				<label for="search"><span class="icon-search"></span></label>
				<input type="text" id="search" name="search" placeholder="Search" size="15">
				<select name="in">
					<option value="products" selected>Products</option>
					<option value="categories">Categories</option>
					<option value="brands">Brands</option>
					<option value="news">News</option>
				</select>
				<input type="submit" value="Search" class="btn">
			</form>

			<section class="cart-bar">
				<div class="cart">
					<p>
						<span class="icon-shopping-cart"></span> Cart 3 Items <strong>€75.00</strong>
						<a href="#" class="btn">Checkout</a>
					</p>
				</div>
				<div class="at-cart">
					<nav class="products-at-cart">
						<article>
							<a href="#" class="product-link"><img src="{{ site.baseurl }}/assets/img/products/01-1-sm.jpg" alt="..."></a>
							<div class="text">
								<p><a href="#"><strong>Product Name</strong></a></p>
								<p>1 x € 25.00</p>
							</div>
							<a href="#" class="delete-product"><span class="icon-close"></span></a>
						</article>
						<article>
							<a href="#" class="product-link"><img src="{{ site.baseurl }}/assets/img/products/02-1-sm.jpg" alt="..."></a>
							<div class="text">
								<p><a href="#"><strong>Product Name</strong></a></p>
								<p>1 x € 25.00</p>
							</div>
							<a href="#" class="delete-product"><span class="icon-close"></span></a>
						</article>
					</nav>
					<a href="#" class="btn">Go Checkout</a>
				</div>
			</section>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">

			<nav class="nav-bar">
				<ul>
					<li><a href="#">Women</a></li>
					<li><a href="#">Men</a></li>
					<li><a href="#">Junior</a></li>
					<li><a href="#">Accessories</a></li>
					<li>
						<a href="#">Collections</a>

						<ul>
							<h6>Year</h6>
							<li>
								<a href="#">2014 <span class="icon-caret-right"></span></a>

								<ul>
									<li><a href="#">Summer</a></li>
									<li><a href="#">Aughtm</a></li>
									<li><a href="#">Winter</a></li>
									<li><a href="#">Spring</a></li>
								</ul>

							</li>
							<li>
								<a href="#">2013 <span class="icon-caret-right"></span></a>

								<ul>
									<li><a href="#">Summer</a></li>
									<li><a href="#">Aughtm</a></li>
									<li><a href="#">Winter</a></li>
									<li><a href="#">Spring</a></li>
								</ul>

							</li>
							<li>
								<a href="#">2012 <span class="icon-caret-right"></span></a>

								<ul>
									<li><a href="#">Summer</a></li>
									<li><a href="#">Aughtm</a></li>
									<li><a href="#">Winter</a></li>
									<li><a href="#">Spring</a></li>
								</ul>

							</li>
							<li>
								<a href="#">2011 <span class="icon-caret-right"></span></a>

								<ul>
									<li><a href="#">Summer</a></li>
									<li><a href="#">Aughtm</a></li>
									<li><a href="#">Winter</a></li>
									<li><a href="#">Spring</a></li>
								</ul>

							</li>
						</ul>
					</li>
					<li class="sale"><a href="#">Sale</a></li>
					<li class="account"><a href="#">My Account</a></li>
				</ul>
			</nav>

			</div>
		</div>
	</div>

</header>

